.DS_Store
chroma_knowledge_base/
chroma_knowledge_base.zip
__pycache__/
*.pyc
draft/
agrinova_plants.db
plant_photos/
.env
__pycache__/
.DS_Store
tf_env/
pdfs/
dataset/
tf_env/
.env
__pycache__/
*.pyc
.DS_Store
agrinova_plants.db
dataset/
